body { font-family: Arial; }

h1 { text-transform: uppercase; }
h2 { font-style: italic; }
h3 { text-decoration: overline; }

p
{
    text-align: justify;
    color: #000;
}

hr
{
    width: 50%;
    height: 5px;
    background: #007;
}

address { text-align: center; }