footer
{
    --footer-bg-color: #202020;
    --footer-color: #CDCDCD;

    background: var(--footer-bg-color);
    color: var(--footer-color);

    border: 2px solid var(--footer-bg-color);
    border-radius: 6px;
}

footer p
{
    text-align: center;

    font-size: 1.15em;
    padding-block: 0.15em;
}